body {
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

h1 {
    font-size: 100px;
}